html,
body {
  padding: 0;
  margin: 0;
  letter-spacing: 0.1rem;
  background-color: rgb(26, 26, 26);
  font-family: verdana,-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-size: 1.1rem;
}


@media(max-width:575px){
  *{
    font-size: 4vw;
  }
}
