.container {
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  background-color: rgb(26, 26, 26);
  padding: 0 15vw;
}


.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.frame_image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  width: 40vw;
}

.menu{
  position: relative;
  width: 250px;
  height: 50px;
  background: #232323;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  line-height: 50px;
  color: #FF0;
  font-size: 1.5rem;
  font-family: verdana;
  letter-spacing: 0.2rem;
}


.activeMenu{
  position: relative;
  width: 250px;
  height: 50px;
  background: #ff0;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  line-height: 50px;
  color: #232323;
  font-size: 1.5rem;
  font-family: verdana;
  letter-spacing: 0.2rem;
}

.menu:hover {
  cursor: pointer;
  border: 2px solid #FF0;
  transition: all 0.3s ease;
}


.nav{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1em;
  text-align: center;
}

@media(max-width: 875px){
  .logo{
    width: 50vw;
  }
  .menu{
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }
  .activeMenu{
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }
}

@media(max-width: 575px){
  .container{
    padding: 0 0;
  }
  .logo{
    width: 60vw;
  }
}

@media(max-width: 400px){
  .menu{
    font-size: 0.6rem;
  }
  .activeMenu{
    font-size: 0.6rem;
  }
}


